@use 'breakpoint';

#semver {
    position: absolute;
    top: 16px;
    right: 8px;
    padding: 0px 6px;
    z-index: 1000000;
}

body {
    --border-thick: 8px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: auto [main-start] 1fr [main-end] auto; 
    gap: var(--border-thick);
    overflow-x: hidden;
    background: var(--f_med);
    padding: var(--border-thick);
    -webkit-tap-highlight-color: var(--f_med);
    // @media only screen and (min-width: $breakpoint-tablet) {
    //     //--border-thick: 8px;
    // }
    /* >:first-child {
        //border-top: var(--border-thick) solid var(--f_med);;
    }
    >:last-child {
        //border-bottom: var(--border-thick) solid var(--f_med);;
    } */

    > * {
        background: var(--b_med);
    }
    > header {
        grid-column: main-start / main-end;
        grid-row: 1 / span 1;
        width: 100%;
        display: flex;
        //justify-content: center;
        padding: 1em 0;
        cursor: default;
        z-index: 1000;
        /*  &:hover, a:hover {
            background: var(--f_med);
            color: var(--b_med);
        } */
       /*  @media only screen and (min-width: $breakpoint-tablet) {
             > h1 {
                //font-size: 12vw;
            }
        }
        @media only screen and (min-width: $breakpoint-desktop) {
             > h1 {
                //font-size: 10rem;
            }
        } */
        h1, h2 {
            transition: font-size 0.2s;
            text-align: center;
            width: 100%;
            color: var(--f_med);
            user-select: none;
        }
        h1 {
            font-size: 18vw;
        }
        h2 {
            font-size: 11vw;
        }
    }
    > nav {
        //grid-column: 1 / span 4;
        // grid-column: page-start / page-end;
        //grid-row: 2 / span 1;
        width: 100%;
        display: flex;
        display: none;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        //padding: 2em 0;
        user-select: none;
        z-index: 1000;
        //transition: padding 0.5s;
        @media only screen and (min-width: breakpoint.$tablet) {
            flex-direction: row;
            //padding: 0.5em 20vw;
        }
       
        /* .links {
            margin: 0;
            //background: red;
            &:hover {
                font-size: 18vw;
            }
        } */
        a {
            // margin: 0;
            font-family: "Title";
            font-weight: bold;
            //margin: 0 1rem;
             line-height: 1;
            font-size: 10vw;
             text-align: center;
             width: 100%;
            //display: inline;
            //line-height: 3rem;
            transition: font-size 0.2s;
        }
    }
    > main {
        z-index: 10;
        grid-column: [main-start] / [main-end];
        grid-row: [main-start] / [main-end];
        width: 100%;
       // height: 100%;
    }
    > footer {
        z-index: 1000;
        // grid-column: 1 / span 4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1em 1.5em;
        font-weight: 900;
        //background: var(--b_med);
        color: var(--f_med);
        @media only screen and (min-width: breakpoint.$tablet) {
            align-items: left;
            padding: 0.2em 0;
            font-size: 80%;
        }
        transition: padding 0.2s;
        a {
            user-select: none;
            margin: 0 1vw;
            /* &::after {
                margin-left: 4px;
                padding: 0;
                content: "|";
            } */
        }
    }
    /* > aside {
        grid-column: 1 / span 4;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        color: var(--b_med);
        font-size: 4px;
        // border-right: var(--border-thick) solid var(--f_med);
        // border-left: var(--border-thick) solid var(--f_med);
        // border-bottom: var(--border-thick) solid var(--f_med);
    } */
}
