
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Regular";
    /* font-variation-settings: 'wght' 400;
	font-optical-sizing: auto; */
    /* animation: strobe 0.02s; */
    /* animation-iteration-count: 5; */
}

::selection {
    background: #000;
    color: var(--f_inv);
}

a {
    padding: 0.25em 0.5em;
    color: var(--f_med);
    //color: var(--f_med);
    text-decoration: none;
    transition: all 0.1s;
   /*  &:hover {
        //background: var(--b_inv);
        //color: var(--f_inv);
    } */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Title";
    line-height: 1;
}
h1 {
    font-size: 10rem;
}
h2 {
    font-size: 6rem;
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1rem;
}

ol ul, li {
    list-style: none;
    margin: 0;
}

$range-height: 8px;
//$range-thumb-size: 8px;

input {
	margin: 0;
}

input[type=range] {
	appearance: none;
	outline: none;
	&::-webkit-slider-runnable-track {
		height: 10px;
		background: var(--f_med);
		border: none;
		appearance: none;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		width: 10px;
		height: 10px;
		background: var(--b_med);
		border: 1px solid var(--f_med);
	}
	&::-moz-range-track {
		height: 10px;
		background: var(--f_med);
		border: none;
		border-radius: none;
		appearance: none;
	}
	&::-moz-range-thumb {
		appearance: none;
		width: 10px;
		height: 10px;
		background: var(--b_med);
		border: 1px solid var(--f_med);
		border-radius: none;
	}
	&::-moz-focusring {
		//outline: 1px solid red;
		outline-offset: -1px;
	}
}
/*
input[type=range] {
	appearance: none;
	outline: none;
	&::-webkit-slider-runnable-track,
	&::-moz-range-track {
		height: 10px;
		background: var(--f_med);
		border: none;
		appearance: none;
	}
	&::-webkit-slider-thumb,
	&::-moz-range-thumb {
		appearance: none;
		width: 10px;
		height: 10px;
		background: var(--b_med);
		border: 1px solid var(--f_med);
	}
	&:-moz-focusring {
		outline: 1px solid red;
		outline-offset: -1px;
	}
}
*/

.meta {
	//padding: 6px 4px;
	font-size: 50%;
	line-height: 1.2;
	writing-mode: vertical-rl;
	text-transform: uppercase;
}