
$color: #00ff00;

// #fded02#01a0e4


$breakpoint-phone: 400px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1380px;
$breakpoint-hd: 1920px;
//$breakpoint-max: 1380px;

:root {
    --background: #fff000;
    --f_high: #000;
    --f_med: #050505;
    --f_low: #050505;
    --f_inv: #fff000;
    --b_high: #fff000;
    --b_med: #fff000;
    --b_low: #fff000;
    --b_inv: #070707;
}
