main {
    > canvas {
        position: absolute;
        cursor: help;
        z-index: 100;
        /* &.hidden {
            display: none;
        } */
        &.play {
            cursor: default;
        }
    }
    > .info {
        position: absolute;
        font-family: "Title";
        font-weight: bold;
        display: grid;
        place-items: center;
        right:  8px;
        width: 100%;
        font-size: 18vw;
        z-index: 100000;
        pointer-events: none;
        transform: scale(-1, 1);
        &.hidden {
            display: none;
        }
    }
    > .status {
        position: absolute;
        right: 8px;
        //display: flex;
        line-height: 1.2;
        writing-mode: vertical-rl;
        // text-orientation: upright;
        padding: 6px 4px;
        font-size: 54%;
        text-transform: uppercase;
    }
    > input.volume {
        position: absolute;
        left: 8px;
        margin: 4px;
        z-index: 100000;
    }
}