<footer>
    <a href="/record/" title="⸸">RECORD</a>
    <!--<i class="icon-radioactive"></i>-->
    <a href="/event/" title="⸸">EVENT</a>
    <!--<i class="icon-radioactive"></i>-->
    <a href="https://rrr.disktree.net:8443/laerm.m3u" title="⸸" download>M3U</a>
    <!--<i class="icon-radioactive"></i>-->
    <a href="https://lauterlaerm.bandcamp.com" rel="external" title="⸸">BANDCAMP</a>
    <!--<i c lass="icon-radioactive"></i>-->
    <a href="https://www.discogs.com/label/2078152-Lauter-L%C3%A4rm-Records" rel="external" title="⸸">DISCOGS</a>
    <!--<i class="icon-radioactive"></i>-->
    <a href="mailto:info@laerm.org" title="⸸">MAIL</a>
</footer>
