
$color: #00ff00;

$breakpoint-phone: 400px;
$breakpoint-tablet: 800px;
$breakpoint-max: 1380px;

:root {
    --background: #000;
    --f_high: #000;
    --f_med: #000;
    --f_low: #000;
    --f_inv: #fff000;
    --b_high: #fff000;
    --b_med: #fff000;
    --b_low: #fff000;
    --b_inv: #000;
}
